<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{event.title}} | Gift List </title>
	<meta name="description" content="Gift List Service">
	<meta name="author" content="Mantas Mikalauskas">
	<link href="{{host}}/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/header.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/base.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/event.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<header class='container--center container--gutter container--wide header'>
		<a class='header__branding' href='/'>
			<img src='/site_logo.svg' alt='Gift List' class='header__logo' />
			<h1 class="title--large header__site-title">Gift List</h1>
		</a>
		<nav class="header__nav">
			{{#if authorised}}
			<a class="button" href="/event/new">New Event</a>
			<a class="button" href="/logout">Log out</a>
			{{else}}
			<a class="button" href="/register">Register</a>
			<a class="button" href="/login">Log in</a>
			{{/if}}
		</nav>
	</header>
	<main>
		<div class="container--center container--gutter container--wide">
			<div class="event__wrapper">
				<div class="event__thumbnail-wrapper">
					<div class="event__thumbnail" style="background-image: url('/images/{{event.thumbnail}}');"
						alt={{event.title}}> </div>
				</div>
				<div class="event__inner">
					<div class="event__details">
						<h2 class="title event__title">{{event.title}}</h2>
						<time class="event__date">{{event.date}}</time>
						<p class="event__description">{{event.description}}</p>
					</div>
					<div class="event__gift-list">
						<h3 class="title--small event__gift-list-title">Gift list</h3>
						{{#each gifts}}
						<div class="event__gift-wrapper">
							{{#if this.price}}
							<div class="event__gift-price">
								{{this.price}}£
							</div>
							{{/if}}
							<div class="event__gift-name">
								{{this.name}}
							</div>
							<div class="event__gift-actions">
								{{#if this.url}}
								<a class="button button--small event__view-gift-button" href={{this.url}} target='__blank'
									rel="noreferer noopener">
									View
								</a>
								{{/if}}
								{{#if ../authorised}}
								<form action="/event/pledge/{{../event.id}}" method="post" class="event__pledge-button">
									<input hidden type="input" name='eventId' value={{../event.id}} />
									<input hidden type="input" name='giftId' value={{this.id}} />
									{{#if this.user}}
									<div class="event__view-gift-pledged">
										Pledged by <b>{{this.user}}</b>
									</div>
									{{else}}
									<button type='submit' class="button button--small">
										Pledge
									</button>
									{{/if}}
								</form>
								{{/if}}
								<label class="event__checkbox">
									{{#if this.user}}
									<input disabled="disabled" type="checkbox" name="event-{{this.id}}" checked="checked">
									{{else}}
									<input disabled="disabled" type="checkbox" name="event-{{this.id}}">
									{{/if}}
									<span class="event__checkbox-checkmark"></span>
								</label>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>