<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home | Gift List </title>
	<meta name="description" content="Gift List Service">
	<meta name="author" content="Mantas Mikalauskas">
	<link href="{{host}}/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/header.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/base.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/event.css" type="text/css" rel="stylesheet" />
</head>

<body>
	{{#if msg}}
 		<div class="msg">{{msg}}</div>
	{{/if}}
	<header class='container--center container--gutter container--wide header'>
		<a class='header__branding' href='/'>
			<img src='/site_logo.svg' alt='Gift List' class='header__logo' />
			<h1 class="title--large header__site-title">Gift List</h1>
		</a>
		<nav class="header__nav">
			{{#if authorised}}
			<a class="button" href="/event/new">New Event</a>
			<a class="button" href="/logout">Log out</a>
			{{else}}
			<a class="button" href="/register">Register</a>
			<a class="button" href="/login">Log in</a>
			{{/if}}
		</nav>
	</header>
	<main>
		<div class="container--center container--gutter container--wide">
			<h2 class="title">All Events</h2>
			<div class="events__wrapper">
				{{#each data.events}}
				<a class="events__event" href="/event/{{this.id}}">
					<div class="events__event-thumbnail-wrapper">
						<div style="background-image: url('/images/{{this.thumbnail}}');" class="events__event-thumbnail"></div>
					</div>
					<div class="events__event-details">
						<h3 class="title--small events__event-title">{{this.title}}</h3>
						<time class="events__event-creation-date">{{this.date}}</time>
					</div>
				</a>
				{{/each}}
			</div>
		</div>
	</main>
</body>

</html>