<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Register| Gift List </title>
	<meta name="description" content="Gift List Service">
	<meta name="author" content="Mantas Mikalauskas">
	<link href="{{host}}/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/header.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/styles/base.css" type="text/css" rel="stylesheet" />
</head>

<body>
	{{#if msg}}
 		<div class="msg">{{msg}}</div>
	{{/if}}
	<header class='container--center container--gutter container--wide header'>
		<a class='header__branding' href='/'>
			<img src='/site_logo.svg' alt='Gift List' class='header__logo' />
			<h1 class="title--large header__site-title">Gift List</h1>
		</a>
		<nav class="header__nav">
			{{#if authorised}}
			<a class="button" href="/event/new">New Event</a>
			<a class="button" href="/logout">Log out</a>
			{{else}}
			<a class="button" href="/register">Register</a>
			<a class="button" href="/login">Log in</a>
			{{/if}}
		</nav>
	</header>
	<main>
		<div class="container--center container--gutter container--wide">
			<h2 class="title">Register a new account</h2>
			<p>Already have one? <a href="/login">Log in</a></p>
			<form action="/register" enctype="multipart/form-data" method="post">
				<div class="login__field">
					<label for="user">Username</label><br />
					<input minlength="3" maxlength="16" type="text" name="user" placeholder="Your username" value="{{data.body.user}}" required>
				</div>
				<div class="login__field">
					<label for="pass">Password</label><br />
					<input minlength="3" maxlength="16" type="password" name="pass" placeholder="Your password" value="{{data.body.pass}}" required>
				</div>
				<div>
					<label for="email">Email</label><br />
					<input type="email" name="email" placeholder="Your email address" value="{{data.body.email}}" required>
				</div>
				<p class="form__error-message">{{data.error}}</p>
				<button class="button" type="submit">Register</button>
			</form>
		</div>
	</main>
</body>

</html>